{
    "env": {
        "browser": false,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "max-len": "off",
        "brace-style": ["error", "1tbs"],
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "indent": ["error", 2],
        "eqeqeq": "error",
        "require-await": "error",
        "no-extend-native": "error",
        "no-multi-spaces": "error",
        "no-loop-func": "error",
        "no-sequences": "error",
        "no-return-await": "error",
        "no-extra-bind": "error"
    }
}
